*.pyc
*.pkl.gz
*.pkl
*.zip
*.png
*.mat
.coverage
/docs/build
/yann.egg-info
/build
/dist
/_dev
/tests/__pycache__/
.cache
.eggs
visualizer
lenet5
.vscode
/pantry/matlab/tests
/pantry/matlab/train
/pantry/matlab/valid
resultor
clean.sh
*.ipynb_checkpoints
_data
_datasets